[Desktop Entry]
Name=OLED Wallpaper Control Center
GenericName=Wallpaper Controller
Comment=Configure, start, and manage the OLED Wallpaper background
Exec=oled-config
Icon=ninja.boop.OledWallpaper
Type=Application
Categories=Settings;Utility;
Keywords=wallpaper;space;galaxy;OLED;animated;config;startup;
StartupNotify=false
